---
- name: Gather {{ inventory_hostname }} VM information
  uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname | lower }}/qemu"
    method: GET
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
  register: node_vms_list
  delegate_to: localhost

- name: Migrate {{ inventory_hostname }} VM (even numbers) to {{ target_node_even }}
  ignore_error: true
  community.general.proxmox_migrate:
    api_host: "{{ pve_api_node }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token }}"
    api_token_secret: "{{ pve_api_secret }}"
    vmid: "{{ item.vmid }}"
    target: "{{ target_node_even }}"
    online: true
    validate_certs: "{{ pve_check_cert }}"
  loop: "{{ node_vms_list.json.data }}"
  loop_control:
    pause: 5
    label: "{{ item.name }}"
  when:
    - node_vms_info.json.data[0] is defined
    - item.vmid is even
    - item.status == 'running'
  delegate_to: localhost

- name: Migrate {{ inventory_hostname }} VM (odd numbers) to {{ target_node_odd }}
  ignore_error: true
  community.general.proxmox_migrate:
    api_host: "{{ pve_api_node }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token }}"
    api_token_secret: "{{ pve_api_secret }}"
    vmid: "{{ item.vmid }}"
    target: "{{ target_node_odd }}"
    online: true
    validate_certs: "{{ pve_check_cert }}"
  loop: "{{ node_vms_list.json.data }}"
  loop_control:
    pause: 5
    label: "{{ item.name }}"
  when:
    - node_vms_info.json.data[0] is defined
    - item.vmid is odd
    - item.status == 'running'
  delegate_to: localhost

- name: Check VM migration
  block:
    - name: Check {{ inventory_hostname }} remaining VMs
      uri:
        url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname }}/qemu"
        method: GET
        headers:
          Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
        validate_certs: "{{ pve_check_cert }}"
      register: migration_vm_check
      failed_when: >
        migration_vm_check.json.data
        | selectattr('status', 'equalto', 'running')
        | list
        | length > 0
  rescue:
    - name: Send notification with log in case of failure
      mail:
        from: "{{ notification_sender }}"
        to: "{{ notification_email }}"
        host: "{{ smtp_host }}"
        port: "{{ smtp_port }}"
        username: "{{ smtp_user | default(omit) }}"
        password: "{{ smtp_password | default(omit) }}"
        attach: "{{ ansible_log.files[0].path | default(omit) }}"
        subject: "PVE Hypervisor upgrade FAILURE - {{ inventory_hostname }}"
        body: |
          ---------------------------
          {{ inventory_hostname }} - VM migration FAILED
          ---------------------------
          The following VM are still on the node, node upgrade was aborted.
          {% for i in migration_vm_check.json.data %}
          {% if i.state == "running" %}
          - {{ i.name }}, vmid: {{ i.vmid }}, state: {{ i.status }}
          {% endif %}
          {% endfor %}
      delegate_to: localhost
    - name: Exit playbook
      fail:
        msg: "ERROR - VM are still present in {{ inventory_hostname }}"
