---
- name: Unset ceph flags
  ansible.builtin.uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/cluster/ceph/flags/{{ item }}"
    method: PUT
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert | default('false') }}"
    body_format: json
    body:
      value: false
  loop: "{{ ceph_flags }}"
  loop_control:
    label: "{{ item }}"
  delegate_to: localhost

- name: Check couple of things to make sure the node has been upgraded
  shell: |
    echo "HOST: {{ inventory_hostname | upper }}"
    echo "LIVE PVE VERSION: $(pveversion)"
    echo "RUNNING KERNEL: $(uname -r)"
    echo "HOST REBOOTED: {% if kernel_version_check.stdout != '2' %}YES{% else %}NO{% endif %}"
    echo "CEPH STATUS:"
    ceph -s
  register: last_check_out

- name: Display check commands output
  debug:
    msg: "{{ last_check_out.stdout_lines }}"
  when: enable_debug|bool

- name: Mail report to {{ notification_email }}
  mail:
    from: "{{ notification_sender }}"
    to: "{{ notification_email }}"
    host: "{{ smtp_host }}"
    port: "{{ smtp_port }}"
    username: "{{ smtp_user | default(omit) }}"
    password: "{{ smtp_password | default(omit) }}"
    attach: "{{ ansible_log.files[0].path | default(omit) }}"
    subject: "PVE Hypervisor upgrade SUCCESSFULL - {{ inventory_hostname }}"
    body: |
      ---------------------------
      {{ inventory_hostname }} - iUpgrade report
      ---------------------------
      {{ last_check_out.stdout_lines | to_nice_yaml }}
  delegate_to: localhost
