---
- name: ROTATE PWD | Generate new password
  set_fact:
    new_passwords: "{{ new_passwords | default([]) + [ item.key ~ ' ' ~ item.value.passwd ] }}"
  loop: "{{ users_list | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  changed_when: item.key is defined
  delegate_to: localhost
  run_once: true
  notify: 
    - Display passwords
    - Email notification for successfull rotation

- name: ROTATE PWD | Update user password
  user:
    name: "{{ item.split(' ')[0] }}"
    update_password : always
    password: "{{ item.split(' ')[1] | password_hash('sha512') }}"
  loop: "{{ new_passwords }}"
  loop_control:
    label: "{{ item.split(' ')[0] }}"

- name: ROTATE PWD | DEBUG | Display new passwords
  debug:
    msg: "{{ new_passwords }}"
  delegate_to: localhost
  run_once: true
  when: enable_debug|bool

- name: ROTATE PWD | Blind passwd
  user:
    name: ---USER---
    update_password : always
    password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_lowercase', 'ascii_uppercase', 'digits', '.,-_?!'], length=26) | password_hash('sha512') }}"
