---
# tasks file
#
- name: Check name (VM Name) is in allowed value
  assert:
    that:
      - vmname is defined
      - vmname is not match ('^[0-9]')
      - vmname is match ('^[a-zA-Z0-9-]+$')
    fail_msg: "ERROR: Variable -e name= MUST be defined. The VM name MUST NOT start by a number. It MUST NOT have specials characters, only dashes are allowed"

- name: Validate IPv4 address format
  assert:
    that:
      - guest_ip is defined
      - guest_ip is match('^((25[0-5]|2[0-4][0-9]|1?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|1?[0-9][0-9]?)$')
    fail_msg: "Host IP is missing or not a valid IPv4 address."
          
- name: Check cpu variables is in allowed value
  assert:
    that:
      - guest_cores is defined
      - guest_cores is match('^[0-9]{,2}$')
    fail_msg: "ERROR - cpu has to be a number only (2 digit max), cpu=2 / cpu=8..."

- name: Check ram variables is in allowed value
  assert:
    that:
      - guest_ram is defined
      - guest_ram is match('^[0-9]{4,}$')
    fail_msg: "ERROR - ram has to be a number only (4 digit min), ram=8192 (8G), ram=32768 (32G), ram=65536 (64G)..."

- name: Check disk variables is in allowed value
  assert:
    that:
      - filesystem_size is defined
      - filesystem_size is match('^[0-9]+$')
    fail_msg: "ERROR - disk has to be a number only, like disk=300. The size is in GB"

- name: Check os variable is in allowed value
  assert:
    that:
      - guest_os is defined
      - guest_os in ['runner', 'ubuntu24', 'ubuntu22', 'debian12', 'rocky9']
    fail_msg: "ERROR - OS options are os=ubuntu22 (Ubuntu22 LTS), os=ubuntu24 (Ubuntu24 LTS), os=debian12 (Debian12), os=rocky9 (RockyLinux9)"

- block:
    - name: Check {{ storage_ceph }} capacity
      shell: ceph df --format json
      delegate_to: "{{ pve_api_host.split('.')[0] }}"
      register: ceph_pool_space_left
    - name: Register ceph hdd pool size variable
      set_fact:
        available_capacity: "{{ ceph_pool_space_left.stdout|from_json|json_query('pools[?name==`<cephpoolid>`].stats.max_avail') }}"
      when: storage_type == 'hdd'
    - name: Register ceph ssd pool size variable
      set_fact:
        available_capacity: "{{ ceph_pool_space_left.stdout|from_json|json_query('pools[?name==`<cephpoolid>`].stats.max_avail') }}"
      when: storage_type == 'ssd'
    - name: Calculate remaining space in ceph pool
      set_fact:
        pool_remaining_space: "{{ (available_capacity[0] - 200000000000) - (filesystem_size|int * 1000000000) }}"
    - name: Check that the pool has enought space for {{ filesystem_size }}G
      assert:
        that:
          - pool_remaining_space|int > 0
        fail_msg: "ERROR - Only {{ ((available_capacity[0] - 200000000000) / 1000000000) | round | int }}G are available in the pool: {{ storage_ceph }}"

- name: Check kubernetes variables are in allowed value
  assert:
    that:
      - kubernetes_ready is defined
      - kubernetes_ready in ['yes', 'no']
      - kind_cluster_ready is defined
      - kind_cluster_ready in ['yes', 'no']
    fail_msg: "ERROR - kind and kub variable are yes or no. kind=yes/no, kub=yes/no. If not set, they will default to no."

- name: Check if {{ guest_name }} is already running
  shell: |
    if [ $(pvesh get /cluster/resources | grep ' {{ guest_name }} ' | wc -l) -eq 1 ];
    then
      pvesh get /cluster/resources | grep ' {{ guest_name }} ' | grep -o '<node-name>[0-9][0-9]';
      pvesh get /cluster/resources | grep ' {{ guest_name }} ' | grep -oE ' \b[0-9]{3,4}\b ';
    else
      echo "0";
    fi
  delegate_to: "{{ pve_api_host.split('.')[0] }}"
  register: assigned_pve_node
