---
- name: Gather {{ guest_name }} disk info
  shell: |
    fdisk -l | grep '^/dev/sd' | grep 'sd[a-z]3' | awk '{ print $1 }'
    echo "/dev/$(lsblk -b | awk '{ print $1, $4/1024/1024/1024 }' | grep {{ filesystem_size }} | awk '{ print $1 }')"
  register: vm_disk_info
  delegate_to: "{{ guest_ip }}"
  when: "'rocky' in guest_os"

- name: Extend the root volume group
  lvg:
    vg: "{{ vgroot }}"
    pvs: '{{ vm_disk_info.stdout_lines[0] }},{{ vm_disk_info.stdout_lines[1] }}'
  delegate_to: "{{ guest_ip }}"
  when: "'rocky' in guest_os"

- name: Resize the root logical volume
  lvol:
    vg: "{{ vgroot }}"
    lv: "{{ lvroot }}"
    size: +100%FREE
    resizefs: true
  delegate_to: "{{ guest_ip }}"
  when: "'rocky' in guest_os"

- name: Set {{ guest_name }} hosts file
  template:
    src: hosts.j2
    dest: /etc/hosts
  delegate_to: "{{ guest_ip }}"
  when: not cluster_deployment|bool

- name: Set {{ guest_name }} hostname
  hostname:
    name: "{{ guest_name | lower }}.{{ domain }}" 
    use: systemd
  delegate_to: "{{ guest_ip }}"

- name: Generate ramdom password for local_admin
  set_fact:
    admin_pwd: "{{ lookup('password', '/dev/null length=12 chars=ascii_letters,digits') }}"

- name: Add local admin user
  user:
    name: "{{ admin_id }}"
    password: "{{ admin_pwd | password_hash('sha512') }}"
    comment: "Admin generated by ansible deployment"
    shell: /bin/bash
    append: yes
    groups: "{{ su_group }}"
  delegate_to: "{{ guest_ip }}"

- name: Set local_admin password expiration
  shell: "chage -M 1 '{{ admin_id }}'"
  delegate_to: "{{ guest_ip }}"
  when: owner_email is not defined or owner_email|length == 0
