---
- name: Gather {{ inventory_hostname }} VMs information
  uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname | lower }}/qemu"
    method: GET
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
  register: node_vms_list
  delegate_to: localhost

- name: Gather {{ inventory_hostname }} LXC information
  uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname | lower }}/lxc"
    method: GET
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
  register: node_lxc_list
  delegate_to: localhost

- name: Migrate {{ inventory_hostname }} VMs (even numbers) to {{ target_node_even }}
  ignore_errors: true
  ansible.builtin.uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname }}/qemu/{{ item.vmid }}/migrate"
    method: POST
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
    body_format: form-urlencoded
    body:
      target: "{{ target_node_even }}"
      online: 1
    status_code: 200
    return_content: true
  loop: "{{ node_vms_list.json.data }}"
  loop_control:
    pause: 5
    label: "{{ item.vmid }} - {{ item.name }}"
  when:
    - node_vms_list.json.data[0] is defined
    - item.vmid is even
    - item.status == 'running'
  delegate_to: localhost

- name: Migrate {{ inventory_hostname }} LXC (even numbers) to {{ target_node_even }}
  ignore_errors: true
  ansible.builtin.uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname }}/lxc/{{ item.vmid }}/migrate"
    method: POST
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
    body_format: form-urlencoded
    body:
      target: "{{ target_node_even }}"
      restart: 1
    status_code: 200
    return_content: true
  loop: "{{ node_lxc_list.json.data }}"
  loop_control:
    pause: 5
    label: "{{ item.vmid }} - {{ item.name }}"
  when:
    - node_lxc_list.json.data[0] is defined
    - item.vmid is even
    - item.status == 'running'
  delegate_to: localhost

- name: Migrate {{ inventory_hostname }} VMs (odd numbers) to {{ target_node_odd }}
  ignore_errors: true
  ansible.builtin.uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname }}/qemu/{{ item.vmid }}/migrate"
    method: POST
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
    body_format: form-urlencoded
    body:
      target: "{{ target_node_odd }}"
      online: 1
    status_code: 200
    return_content: true
  loop: "{{ node_vms_list.json.data }}"
  loop_control:
    pause: 5
    label: "{{ item.vmid }} - {{ item.name }}"
  when:
    - node_vms_list.json.data[0] is defined
    - item.vmid is odd
    - item.status == 'running'
  delegate_to: localhost

- name: Migrate {{ inventory_hostname }} LXC (odd numbers) to {{ target_node_odd }}
  ignore_errors: true
  ansible.builtin.uri:
    url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname }}/lxc/{{ item.vmid }}/migrate"
    method: POST
    headers:
      Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
    validate_certs: "{{ pve_check_cert }}"
    body_format: form-urlencoded
    body:
      target: "{{ target_node_odd }}"
      restart: 1
    status_code: 200
    return_content: true
  loop: "{{ node_lxc_list.json.data }}"
  loop_control:
    pause: 5
    label: "{{ item.vmid }} - {{ item.name }}"
  when:
    - node_lxc_list.json.data[0] is defined
    - item.vmid is odd
    - item.status == 'running'
  delegate_to: localhost

- name: Check VMs migration
  block:
    - name: Check {{ inventory_hostname }} remaining VMs
      uri:
        url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname | lower }}/qemu"
        method: GET
        headers:
          Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
        validate_certs: "{{ pve_check_cert }}"
      register: migration_vm_check
      failed_when: >
        migration_vm_check.json.data
        | selectattr('status', 'equalto', 'running')
        | list
        | length > 0
    - name: Check {{ inventory_hostname }} remaining LXC
      uri:
        url: "https://{{ pve_api_node }}.{{ pve_domain }}:8006/api2/json/nodes/{{ inventory_hostname | lower }}/lxc"
        method: GET
        headers:
          Authorization: "PVEAPIToken={{ pve_api_user }}!{{ pve_api_token }}={{ pve_api_secret }}"
        validate_certs: "{{ pve_check_cert }}"
      register: migration_lxc_check
      failed_when: >
        migration_vm_check.json.data
        | selectattr('status', 'equalto', 'running')
        | list
        | length > 0
  rescue:
    - name: Send notification with log in case of failure
      mail:
        from: "{{ notification_sender }}"
        to: "{{ notification_email }}"
        host: "{{ smtp_host }}"
        port: "{{ smtp_port }}"
        username: "{{ smtp_user | default(omit) }}"
        password: "{{ smtp_password | default(omit) }}"
        attach: "{{ ansible_log.files[0].path | default(omit) }}"
        subject: "PVE Hypervisor upgrade FAILURE - {{ inventory_hostname }}"
        body: |
          ---------------------------
          {{ inventory_hostname }} - VMs/LXC migration FAILED
          ---------------------------
          The following VMs/LXC are still on the node, node upgrade was aborted.
          {% for i in migration_vm_check.json.data %}
          {% if i.state == "running" %}
          - {{ i.name }}, vmid: {{ i.vmid }}, state: {{ i.status }}
          {% endif %}
          {% endfor %}
          {% for j in migration_lxc_check.json.data %}
          {% if j.state == "running" %}
          - {{ j.name }}, vmid: {{ j.vmid }}, state: {{ j.status }}
          {% endif %}
          {% endfor %}
      delegate_to: localhost
    - name: Exit playbook
      fail:
        msg: "ERROR - VMs are still present in {{ inventory_hostname }}"
