---
# tasks file for pve_hypervisor_rolling_upgrade
- name: Gather ansible log path
  find:
    paths: /var/log/ansible/
    file_type: file
    patterns: "monthly_{{ inventory_hostname }}*"
    age: -1d
  delegate_to: localhost
  run_once: true
  register: ansible_log

# ============================================================
# BLOCK 1: Upgrade node first, migrate VMs only if reboot needed
# ============================================================
- block:
    - name: Node upgrade
      include_tasks: 1_node_upgrade.yml

    - name: Migrate all VM before the reboot
      include_tasks: 2_vm_migration.yml
      when:
        - migrate_vm | bool
        - reboot_check.stat.exists or kernel_version_check.stdout != '2'

    - name: Set Ceph flags
      include_tasks: 3_set_ceph_flags.yml
      when:
        - ceph_storage|bool
        - reboot_check.stat.exists or kernel_version_check.stdout != '2'

    - name: Reboot the node
      reboot:
        reboot_timeout: 1800
      when: reboot_check.stat.exists or kernel_version_check.stdout != '2'

    - name: Remove unused dependency
      ansible.builtin.apt:
        autoremove: true
      when:
        - pve_upgrade.changed
        - rm_old_dependency | bool

    - name: Migrate VM back to the node
      include_tasks: 4_vm_migration_back.yml
      when:
        - migrate_vm | bool
        - reboot_check.stat.exists or kernel_version_check.stdout != '2'
  when: upgrade_with_vms | bool

# ============================================================
# BLOCK 2: Migrate all VMs first, then upgrade node
# ============================================================
- block:
    - name: Migrate all VM before upgrade
      include_tasks: 2_vm_migration.yml
      when: migrate_vm | bool

    - name: Node upgrade
      include_tasks: 1_node_upgrade.yml

    - name: Set Ceph flags
      include_tasks: 3_set_ceph_flags.yml
      when:
        - ceph_storage | bool
        - reboot_check.stat.exists or kernel_version_check.stdout != '2'

    - name: Reboot the node
      reboot:
        reboot_timeout: 1800
      when: reboot_check.stat.exists or kernel_version_check.stdout != '2'

    - name: Remove unused dependency
      ansible.builtin.apt:
        autoremove: true
      when:
        - pve_upgrade.changed
        - rm_old_dependency | bool

    - name: Migrate VM back to the node
      include_tasks: 4_vm_migration_back.yml
      when: migrate_vm|bool
  when: not upgrade_with_vms | bool

- name: Post upgrade tasks, checks, ceph flag disable, vm migration back to node
  include_tasks: 5_post_upgrade_tasks.yml
