---
- name: Check host has a valid vmid
  assert:
    that:
      - vmid is defined
      - vmid is match('^[1-9][0-9]{2,4}$')
    fail_msg: "ERROR - {{ inventory_hostname }} does not have a valid VMID"
    success_msg: "vmid is valid"

- name: SNAP | Snapshot proxmox guest
  community.proxmox.proxmox_snap:
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token }}"
    api_token_secret: "{{ pve_api_secret }}"
    api_host: "{{ pve_api_node }}"
    vmid: "{{ vmid }}"
    state: present
    vmstate: "{{ snapshot_ram | default('false') }}"
    snapname: "{{ snapshot_name }}"
    validate_certs: "{{ pve_check_cert | default('false') }}"
  delegate_to: localhost

- name: Schedule snapshot removal cron
  block:
    - name: SNAP | Compute snapshot removal date for cron, {{ snapshot_rm_delay }}h delay
      command: >
        date -d "@{{ ansible_date_time.epoch | int + snapshot_rm_delay * 3600 }}"
        "+%M %H %d %m"
      register: snapshot_rm_datetime
      delegate_to: localhost
      run_once: yes

    - name: SNAP | Extract cron fields from snapshot removal datetime
      set_fact:
        snapshot_rm_minute: "{{ snapshot_rm_datetime.stdout.split()[0] }}"
        snapshot_rm_hour:   "{{ snapshot_rm_datetime.stdout.split()[1] }}"
        snapshot_rm_day:    "{{ snapshot_rm_datetime.stdout.split()[2] }}"
        snapshot_rm_month:  "{{ snapshot_rm_datetime.stdout.split()[3] }}"
      delegate_to: localhost
      run_once: yes
    
    - name: SNAP | Schedule snapshot removal cron {{ snapshot_rm_delay }}h later
      cron:
        name: "{{ snapshot_cron_name }}"
        cron_file: "/etc/cron.d/{{ snapshot_cron_file }}"
        minute: "{{ snapshot_rm_minute }}"
        hour: "{{ snapshot_rm_hour }}"
        day: "{{ snapshot_rm_day }}"
        month: "{{ snapshot_rm_month }}"
        user: "{{ snapshot_rm_user }}"
        job: "{{ ansible_bin_path }} {{ ansible_playbook_path }} --tags snaprm > /dev/null"
        state: present
      delegate_to: "{{ cron_scheduler }}"
      run_once: yes
  when: snapshot_rm_schedule|default('false')|bool

- name: Snapshot removal triggered by cron
  tags: [ never, snaprm ]
  block:
  - name: SNAPRM | Trigger snapshot removal
    community.proxmox.proxmox_snap:
      api_user: "{{ pve_api_user }}"
      api_token_id: "{{ pve_api_token }}"
      api_token_secret: "{{ pve_api_secret }}"
      api_host: "{{ pve_api_node }}"
      vmid: "{{ vmid }}"
      state: absent
      snapname: "{{ snapshot_name }}"
      validate_certs: "{{ pve_check_cert | default('false') }}"
    delegate_to: localhost

  - name: SNAPRM | Clean up cron file
    cron:
      name: "{{ snapshot_cron_name }}"
      cron_file: "/etc/cron.d/{{ snapshot_cron_file }}"
      user: "{{ snapshot_rm_user }}"
      state: absent
    delegate_to: "{{ cron_scheduler }}"
    run_once: yes
