---
- name: Patch all OS
  block:
    - name: RHEL | Upgrade OS
      yum:
        update_cache: true
        name: '*'
        state: latest
      register: rhel_patch_out
      when: ansible_os_family == 'RedHat'

    - name: DEB | Update & upgrade OS
      apt:
        update_cache: true
        upgrade: yes
      register: deb_patch_out
      when: ansible_os_family == 'Debian'

    - name: RHEL | DEBUG | Print yum output
      debug:
        msg: "{{ rhel_patch_out.results }}"
      when: 
        - rhel_patch_out.results is defined
        - rhel_patch_out.changed is defined
        - rhel_patch_out.changed
        - print_patching_output|default('false')|bool

    - name: DEB | DEBUG | Print apt output
      debug:
        msg: "{{ deb_patch_out.stdout_lines }}"
      when: 
        - deb_patch_out.stdout is defined
        - deb_patch_out.changed is defined
        - deb_patch_out.changed
        - print_patching_output|default('false')|bool

    - name: RHEL | Clean up yum cache
      shell: "yum clean all"
      when: 
        - ansible_os_family == 'RedHat'
        - enable_pmcache_cleanup|default('false')|bool

    - name: DEB | Clean up apt cache
      apt:
        clean: true
      when: 
        - ansible_os_family == 'Debian'
        - enable_pmcache_cleanup|default('false')|bool

  rescue:
    - name: Email notification on failure
      mail:
        host: "{{ smtp_host }}"
        to: "{{ notification_email }}"
        sender: "{{ sender_email }}"
        subject: "PVE VM Upgrade - ERROR - {{ inventory_hostname }} patching failed"
        body: |
          ---------------------------
          {{ inventory_hostname }} - Upgrade FAILED
          ---------------------------
          Ansible FAILED to patch {{ inventory_hostname }}
          Date: {{ ansible_date_time.date }}
          Time: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
          Output:
          {% if ansible_os_family == 'RedHat' %}
          {{ rhel_patch_out | to_nice_json }}
          {% endif %}
          {% if ansible_os_family == 'Debian' %}
          {{ deb_patch_out | to_nice_json }}
          {% endif %}
      delegate_to: localhost
