---
- name: RHEL | Check is a reboot is necessary
  when: ansible_os_family == 'RedHat'
  changed_when: rhel_needs_reboot_result.stdout | length > 0
  failed_when: rhel_needs_reboot_result.stderr | length > 0
  register: rhel_need_reboot
  command: yum needs-restarting

- name: DEB | Check if reboot is necessary
  when: ansible_os_family == 'Debian'
  changed_when: deb_needs_reboot_result.stdout | length > 0
  failed_when: deb_needs_reboot_result.stderr | length > 0
  register: debian_need_reboot
  command: needrestart -r a -p

- name: RHEL | Set reboot variable
  when:
    - ansible_os_family == 'RedHat'
    - rhel_needs_reboot_result.stdout_lines | length > 1
  set_fact:
    need_to_reboot: true

- name: DEB | Set reboot variable
  when:
    - ansible_os_family == 'Debian'
    - deb_needs_reboot_result.stdout_lines | length > 1
  set_fact:
    need_to_reboot: true

- name: Gracefully stop all containers before reboot
  when: 
    - need_to_reboot is defined
    - need_to_reboot | bool
    - podman_images_list is defined
    - podman_images_list | length > 0
  become_user: "{{ podman_user }}"
  loop: "{{ podman_images_list }}"
  loop_control:
    label: "{{ item.name }}"
  systemd:
    name: "{{ item.scr }}"
    scope: user
    state: stopped

- name: RHEL&DEB | Reboot the host if required
  when: 
    - need_to_reboot is defined
    - need_to_reboot | bool
  register: new_kernel
  reboot:

- name: Wait for all host to be available before moving on
  when: 
    - new_kernel is defined
    - new_kernel.changed
  register: wait_for_host
  wait_for_connection:
    timeout: "{{ after_reboot_delay | default('600') }}"
