---
- name: Clean previous kernels
  block:
    - name: RHEL | Clean up old kernel
      shell: "dnf remove --oldinstallonly --setopt installonly_limit={{ kernel_versions_cap }} -y"
      register: rhel_kernel_cleanup
      when: "'kernel' in rhel_patch_out.results"

  rescue:
    - name: Email notification on failure for rhel8/9
      mail:
        from: "{{ notification_sender }}"
        to: "{{ notification_email }}"
        host: "{{ smtp_host }}"
        port: "{{ smtp_port }}"
        username: "{{ smtp_user | default(omit) }}"
        password: "{{ smtp_password | default(omit) }}"
        attach: "{{ ansible_log.files[0].path | default(omit) }}"
        subject: "PVE VM Upgrade - ERROR - {{ inventory_hostname }} kernel cleanup failed"
        body: |
          ---------------------------
          {{ inventory_hostname }} - Upgrade FAILED
          ---------------------------
          Ansible FAILED to clean up {{ inventory_hostname }} old kernel versions
          Date: {{ ansible_date_time.date }}
          Time: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
          Output:
          {{ rhel_kernel_cleanup | to_nice_json }}
      delegate_to: localhost
