---
# tasks file for pve_vm_patching
- name: Check if any portal server are in the play
  ignore_errors: true
  set_fact:
    enable_portal_notification: true
  loop: "{{ ansible_play_batch }}"
  run_once: true
  delegate_to: localhost
  when:
    - "'portal' in item"
    - hostvars[item]['rhel_patch_out']['changed'] is defined
    - hostvars[item]['rhel_patch_out']['changed']

- name: Send email notification to the portal dev team
  ignore_errors: true
  mail:
    host: "{{ smtp_host }}"
    sender: "{{ sender_email }}"
    to: "{{ notification_portal }}"
    subject: "ANSIBLE AUTOMATION - REPORT - Portal RHEL servers Patching"
    body: |
      Date: {{ ansible_date_time.date }}
      Run at: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}

      Patching has been successfull and all servers are available.
      You can proceed with your verifications.

      Patched servers:
      {% for i in ansible_play_batch %}
      {% if 'portal' in i %}
        - {{ i }}, Rebooted: {% if hostvars[i]['new_kernel'] is defined %}YES{% else %}NO{% endif %} 
      {% endif %}
      {% endfor %}
  run_once: true
  delegate_to: localhost
  when:
    - enable_portal_notification is defined
    - enable_portal_notification|bool

- name: Check if log file was created
  become: true
  stat:
    path: "{{ log_path }}_batch{{ batch }}_{{ ansible_date_time.date }}.log"
  register: log_check
  run_once: true

- name: Email report without the ansible log
  mail:
    host: "{{ smtp_host }}"
    to: "{{ notification_email }}"
    sender: "{{ sender_email }}"
    subject: "ANSIBLE AUTOMATION - REPORT - RHEL Patching Batch {{ batch | upper }}"
    body: |
      Date: {{ ansible_date_time.date }}
      Run at: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
      Batch: {{ batch | upper }}
      Log: No log created for this run

      Servers list:
      {% for i in ansible_play_batch %}
        - {{ i }}, Patched: {% if hostvars[i]['rhel_patch_out']['changed'] is defined and hostvars[i]['rhel_patch_out']['changed'] %}YES{% else %}NO{% endif %}, Rebooted: {% if hostvars[i]['new_kernel'] is defined %}YES{% else %}NO{% endif %} 
      {% endfor %}

      ERRORS, if there are any, will be listed bellow:
      {% for i in ansible_play_hosts_all %}
      {% if hostvars[i]['vm_info'] is defined and hostvars[i]['vm_info'].failed is defined and hostvars[i]['vm_info'].failed|bool %}
      {{ i }} - Could not find the host in VMWare, snapshot not taken
      {% endif %}
      {% if hostvars[i]['create_snap'] is defined and hostvars[i]['create_snap'].failed is defined and hostvars[i]['create_snap'].failed|bool %}
      {{ i }} - Snapshot error, VM was not patched
      {% endif %}
      {% if hostvars[i]['rhel_patch_out'] is defined and hostvars[i]['rhel_patch_out'].failed is defined and hostvars[i]['rhel_patch_out'].failed|bool %}
      {{ i }} - Patching error
      {% endif %}
      {% if hostvars[i]['new_kernel'] is defined and hostvars[i]['new_kernel'].failed is defined and hostvars[i]['new_kernel'].failed|bool %}
      {{ i }} - Reboot task failed, host is either stuck or took longer than 10min to reboot
      {% endif %}
      {% if hostvars[i]['rhel_autorm_out'] is defined and hostvars[i]['rhel_autorm_out'].failed is defined and hostvars[i]['rhel_autorm_out'].failed|bool %}
      {{ i }} - Leaf packages removal error
      {% endif %}
      {% endfor %}
  run_once: true
  delegate_to: localhost
  when: not log_check.stat.exists

- name: Email report with the ansible log
  mail:
    host: "{{ smtp_host }}"
    to: "{{ notification_email }}"
    sender: "{{ sender_email }}"
    subject: "ANSIBLE AUTOMATION - REPORT - RHEL Patching Batch {{ batch | upper }}"
    attach: "{{ log_path }}_batch{{ batch }}_{{ ansible_date_time.date }}.log"
    body: |
      Date: {{ ansible_date_time.date }}
      Run at: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
      Batch: {{ batch | upper }}
      Log: {{ log_path }}_batch{{ batch }}_{{ ansible_date_time.date }}.log

      Servers list:
      {% for i in ansible_play_batch %}
        - {{ i }}, Patched: {% if hostvars[i]['rhel_patch_out']['changed'] is defined and hostvars[i]['rhel_patch_out']['changed'] %}YES{% else %}NO{% endif %}, Rebooted: {% if hostvars[i]['new_kernel'] is defined %}YES{% else %}NO{% endif %} 
      {% endfor %}

      ERRORS, if there are any, will be listed bellow:
      {% for i in ansible_play_hosts_all %}
      {% if hostvars[i]['vm_info'] is defined and hostvars[i]['vm_info'].failed is defined and hostvars[i]['vm_info'].failed|bool %}
      {{ i }} - Could not find the host in VMWare, snapshot not taken
      {% endif %}
      {% if hostvars[i]['create_snap'] is defined and hostvars[i]['create_snap'].failed is defined and hostvars[i]['create_snap'].failed|bool %}
      {{ i }} - Snapshot error, VM was not patched
      {% endif %}
      {% if hostvars[i]['rhel_patch_out'] is defined and hostvars[i]['rhel_patch_out'].failed is defined and hostvars[i]['rhel_patch_out'].failed|bool %}
      {{ i }} - Patching error
      {% endif %}
      {% if hostvars[i]['new_kernel'] is defined and hostvars[i]['new_kernel'].failed is defined and hostvars[i]['new_kernel'].failed|bool %}
      {{ i }} - Reboot task failed, host is either stuck or took longer than 10min to reboot
      {% endif %}
      {% if hostvars[i]['rhel_autorm_out'] is defined and hostvars[i]['rhel_autorm_out'].failed is defined and hostvars[i]['rhel_autorm_out'].failed|bool %}
      {{ i }} - Leaf packages removal error
      {% endif %}
      {% endfor %}
  run_once: true
  delegate_to: localhost
  when: log_check.stat.exists
