---
- name: Clean leaf packages
  block:
    - name: RHEL | Clean leaf packages
      yum:
        autoremove: true
      register: autorm_out
      when: ansible_os_family == 'RedHat'

    - name: DEB | Clean leaf packages
      apt:
        purge: true
        autoremove: true
      register: autorm_out
      when: ansible_os_family == 'Debian'

    - name: RHEL&DEB | Print autoremove output
      debug:
        msg: "{{ autorm_out }}"
      when: 
        - autorm_out.changed is defined
        - autorm_out.changed
        - print_autorm_output|default('false')|bool
  rescue:
    - name: Email notification on failure
      mail:
        from: "{{ notification_sender }}"
        to: "{{ notification_email }}"
        host: "{{ smtp_host }}"
        port: "{{ smtp_port }}"
        username: "{{ smtp_user | default(omit) }}"
        password: "{{ smtp_password | default(omit) }}"
        attach: "{{ ansible_log.files[0].path | default(omit) }}"
        subject: "PVE VM Upgrade - ERROR - {{ inventory_hostname }} autoremove command FAILED"
        body: |
          ---------------------------
          {{ inventory_hostname }} - Upgrade FAILED
          ---------------------------
          Ansible FAILED to remove leaf packages in {{ inventory_hostname }}
          Date: {{ ansible_date_time.date }}
          Time: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
          Output:
          {{ autorm_out  | to_nice_json }}
      delegate_to: localhost

- name: RHEL | If kernel clean up ran do a last reboot
  reboot:
  when: 
    - rhel_kernel_cleanup.changed is defined
    - enable_reboot|bool
