---
# tasks file for pve_vm_patching
- name: Snapshot host before update
  tags: [ snaprm ]
  include_tasks: 1_snapshot_host.yml
  when: enable_snapshot|default('true')|bool

- name: Update podman images
  include_tasks: 2_podman_images_update.yml
  when: update_podman_images|default('false')|bool

- name: Patch all OS
  include_tasks: 3_os_patching.yml
  when:
    - inventory_hostname not in groups['satellite_server_group']
    - inventory_hostname not in groups['satellite_capsule_group']

- name: Patch Satellites capsules instances
  include_tasks: 4_satellite_patching.yml 
  when: inventory_hostname in groups['satellite_capsule_group']

- name: Patch Satellites server instances
  include_tasks: 4_satellite_patching.yml 
  when: inventory_hostname in groups['satellite_server_group']

- name: Check if a reboot is necessary
  include_tasks: 5_reboot_check.yml
  when:
    - rhel_patch_out is defined or deb_patch_out is defined
    - rhel_patch_out.changed or deb_patch_out.changed
    - enable_reboot|default('true')|bool

- name: Clean previous kernels
  include_tasks: 6_kernel_cleanup.yml
  when: 
    - enable_kernel_cleanup|default('false')|bool
    - ansible_os_family == 'RedHat'
    - new_kernel is defined
    - new_kernel.changed
    - inventory_hostname not in groups['satellite_server_group']
    - inventory_hostname not in groups['satellite_capsule_group']

- name: Clean leaf packages
  include_tasks: 7_leaf_packages_cleanup.yml 
  when: 
    - rhel_patch_out is defined or deb_patch_out is defined
    - rhel_patch_out.changed or deb_patch_out.changed

- name: Post update service check
  include_tasks: 8_postupdate_service_check.yml
  when: 
    - inventory_hostname not in service_check_exceptions
    - rhel_patch_out is defined or deb_patch_out is defined
    - rhel_patch_out.changed or deb_patch_out.changed

- name: Update Redhat insight
  shell: 'insights-client'
  when: 
    - rhel_patch_out.changed
    - force_insight_refresh is defined
    - ansible_distribution == 'RedHat'

- name: Trigger final report email
  debug:
    msg: "Trigger final report email"
  changed_when: true
  notify: Email report
  run_once: true
