---
# tasks file for pve_vm_patching
- name: Snapshot host before update
  tags: [ snaprm ]
  include_tasks: 1_snapshot_host.yml
  when: enable_snapshot|default('true')|bool

- name: Update podman images
  include_tasks: 2_podman_images_update.yml
  when: update_podman_images|default('false')|bool

- name: Patch all OS
  include_tasks: 3_os_patching.yml
  when:
    - inventory_hostname not in groups['satellite_server_group']
    - inventory_hostname not in groups['satellite_capsule_group']

- name: Patch Satellites capsules instances
  include_tasks: 4_satellite_patching.yml 
  when: inventory_hostname in groups['satellite_capsule_group']

- name: Patch Satellites server instances
  include_tasks: 4_satellite_patching.yml 
  when: inventory_hostname in groups['satellite_server_group']

- name: Check if a reboot is necessary
  include_tasks: 5_reboot_check.yml
  when:
    - rhel_patch_out.changed is defined
    - rhel_patch_out.changed
    - enable_reboot|default('true')|bool

- name: Clean previous kernels
  include_tasks: 6_kernel_cleanup.yml
  when: 
    - enable_kernel_cleanup|default('false')|bool
    - ansible_os_family == 'RedHat'
    - new_kernel is defined
    - new_kernel.changed
    - inventory_hostname not in groups['satellite_server_group']
    - inventory_hostname not in groups['satellite_capsule_group']

- name: Clean leaf packages
  include_tasks: 7_leaf_packages_cleanup.yml 
  when: 
    - new_kernel is defined
    - new_kernel.changed

- name: Post update service check
  include_tasks: 8_postupdate_service_check.yml
  when: 
    - inventory_hostname not in service_check_exceptions
    - rhel_patch_out.changed is defined
    - rhel_patch_out.changed

- name: Update Redhat insight
  shell: 'insights-client'
  when: 
    - rhel_patch_out.changed
    - force_insight_refresh is defined
    - ansible_distribution == 'RedHat'

- name: Email report
  mail:
    from: "{{ notification_sender }}"
    to: "{{ notification_email }}"
    host: "{{ smtp_host }}"
    port: "{{ smtp_port }}"
    username: "{{ smtp_user | default(omit) }}"
    password: "{{ smtp_password | default(omit) }}"
    attach: "{{ ansible_log.files[0].path | default(omit) }}"
    subject: "PVE VM Upgrade - REPORT"
    secure: "{{ smtp_sec_mode | default(omit) }}"
    body: |
      ---------------------------
      VM Upgrade final REPORT
      ---------------------------
      Date: {{ ansible_date_time.date }}
      Run at: {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
      {% if ansible_log.files[0].path is defined %}
      Log: {{ ansible_log.files[0].path }}
      {% endif %}
      ---------------------------
      Servers list:
      {% for host in ansible_play_batch %}
      {% set os_family = hostvars[host]['ansible_os_family'] %}
      {% if os_family == 'RedHat' %}
      - {{ host }}: Patched: {% if hostvars[host]['rhel_patch_out'] is defined and hostvars[host]['rhel_patch_out']['changed'] %}YES{% else %}NO{% endif %}; Rebooted: {% if hostvars[host]['new_kernel'] is defined %}YES{% else %}NO{% endif %} 
      {% elif os_family == 'Debian' %}
      - {{ host }}: Patched: {% if hostvars[host]['deb_patch_out'] is defined and hostvars[host]['deb_patch_out']['changed'] %}YES{% else %}NO{% endif %}; Rebooted: {% if hostvars[host]['new_kernel'] is defined %}YES{% else %}NO{% endif %} 
      {% endif %}
      {% endfor %}
    
       ERRORS, if there are any:
      {% for host in ansible_play_hosts_all %}
      {% set hv = hostvars[host] %}
      {% if hv['vm_info'] is defined and hv['vm_info'].failed is defined and hv['vm_info'].failed|bool %}
      {{ host }} - Could not find the host in VMWare, snapshot not taken 
      {% endif %}
      {% if hv['create_snap'] is defined and hv['create_snap'].failed is defined and hv['create_snap'].failed|bool %}
      {{ host }} - Snapshot error, VM was not patched 
      {% endif %}
      {% if hv['rhel_patch_out'] is defined and hv['rhel_patch_out'].failed is defined and hv['rhel_patch_out'].failed|bool %}
      {{ host }} - Patching error 
      {% endif %}
      {% if hv['deb_patch_out'] is defined and hv['deb_patch_out'].failed is defined and hv['deb_patch_out'].failed|bool %}
      {{ host }} - Patching error 
      {% endif %}
      {% if hv['new_kernel'] is defined and hv['new_kernel'].failed is defined and hv['new_kernel'].failed|bool %}
      {{ host }} - Reboot task failed, host is either stuck or took longer than 10min to reboot 
      {% endif %}
      {% if hv['autorm_out'] is defined and hv['autorm_out'].failed is defined and hv['autorm_out'].failed|bool %}
      {{ host }} - Leaf packages removal error 
      {% endif %}
      {% endfor %}
  run_once: true
  delegate_to: localhost
  when: enable_report|default('true')|bool
