---
- name: Upgrade hypervisor
  block:
    - name: Upgrade pve hypervisor
      apt:
        update_cache: true
        upgrade: full
      register: pve_upgrade
  rescue:
    - name: Send a notification on failure
      mail:
        from: "{{ notification_sender }}"
        to: "{{ notification_email }}"
        host: "{{ smtp_host }}"
        port: "{{ smtp_port }}"
        username: "{{ smtp_user | default(omit) }}"
        password: "{{ smtp_password | default(omit) }}"
        subject: "PVE Hypervisor update FAILURE - {{ inventory_hostname }}"
        body: |
          ---------------------------
          {{ inventory_hostname }} - apt update FAILED
          ---------------------------
          {{ pve_upgrade | to_nice_yaml }}
      delegate_to: localhost
    - name: Exit playbook
      fail:
        msg: "PVE Hypervisor update FAILURE"

- name: Display pve upgrade output
  debug:
    var: pve_upgrade.stdout_lines
  when: enable_debug

- name: Check if reboot is necessary
  stat:
    path: /var/run/reboot-required
  register: reboot_check

- name: Check for any new kernel version
  shell: |
    latest=$(uname -v | cut -f5 -d ' ')
    dpkg -l | grep $latest | wc -l
  register: kernel_version_check
