---
# tasks file for pve_hypervisor_rolling_update
- name: Gather ansible log path
  find:
    paths: /var/log/ansible/
    file_type: file
    patterns: "monthly_{{ inventory_hostname }}*"
    age: -1d
  delegate_to: localhost
  run_once: true
  register: ansible_log

- name: Set Ceph flags
  include_tasks: 1_set_ceph_noout.yml
  when: ceph_storage

- name: Node upgrade
  include_tasks: 2_node_upgrade.yml

- name: Migrate all VM before the reboot
  include_tasks: 3_vm_migration.yml
  when: 
    - migrate_vm|bool
    - reboot_check.stat.exists or kernel_version_check.stdout != '2'

- name: Reboot the node
  reboot:
    reboot_timeout: 1800
  when: reboot_check.stat.exists or kernel_version_check.stdout != '2'

- name: Migrate VM back to the node
  include_tasks: 4_vm_migration_back.yml
  when: 
    - migrate_vm|bool
    - reboot_check.stat.exists or kernel_version_check.stdout != '2'

- name: Post upgrade tasks, checks, ceph flag disable, vm migration back to node
  include_tasks: 5_post_upgrade_tasks.yml
