#https://kx.cloudingenium.com/en/haproxy-tcp-http-load-balancer-high-availability-guide/#stick-tables-for-session-persistence
#https://blog.entrostat.com/routing-multiple-domains-using-haproxy-http-and-https-ssl/
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log local0 debug
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    #hjaproxy fail for some reason with admin.sock enabled
    #stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user {{ haproxy_user }}
    group {{ haproxy_group }}
    daemon
    maxconn 4000
    #nbthread 2 #Can be multi thread with multiple cpu
    tune.ssl.default-dh-param 2048
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    {{ haproxy_timeout_http-req }}
    timeout queue           {{ haproxy_timeout_queue }}
    timeout connect         {{ haproxy_timeout_connect }}
    timeout client          {{ haproxy_timeout_client }}
    timeout server          {{ haproxy_timeout_server }}
    timeout http-keep-alive {{ haproxy_timeout_http-keep-alive }}
    timeout check           {{ haproxy_timeout_check }}
    maxconn                 {{ haproxy_maxconn }}

#---------------------------------------------------------------------
# FRONT ENDS
#---------------------------------------------------------------------
frontend http_front
    bind {{ haproxy_ingrerss_ip }}:80 transparent
    # Redirect http to https
    http-request redirect scheme https unless { ssl_fc }

frontend https_front
    bind {{ haproxy_ingrerss_ip }}:443 ssl transparent crt {{ haproxy_cert_path }}
    http-request set-header X-Forwarded-Proto https if { ssl_fc }

    {% for site in virtualhosts %}
    # {{ site.name | upper }}
    acl {{ site.name }} hdr(host) -i {{ site.name }}.{{ site.domain | default(domain) }}
    {% if (site.frontend_specific_acl | default({})) | lenght > 0 %}
    {{ site.frontend_specific_acl }}
    {% endif %}

    {% endfor %}

    # BACKEND LINKS
    {% for site in virtualhosts %}
    use_backend {{ site.name }}_backend if {{ site.name }}
    {% endfor %}

#---------------------------------------------------------------------
# BACK ENDS
#---------------------------------------------------------------------
{% for site in virtualhosts %}
backend {{ site.name }}_backend
    {% for ip in site.backend_ip %}
    server {{ site.name }}-{{ loop.index0 }} {{ ip }}:{{ site.backend_port }} {% if (site.backend_ssl | default({})) | bool %}ssl verify none{% else %}check{% endif %} {{ backend_additional_options | default('omit') }}
    {% endfor %}

{% endfor %}
